body {
    background-image: url("#{resource['img:background.jpg']}");
    background-size: cover;
    background-color: #ffffff;
    background-attachment: fixed;
}

#top {
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    background-image: url("#{resource['img:plant.png']}");
    background-repeat: no-repeat;
    background-position: 5% 20px;
    background-size: auto 110%;
    margin: 0 0 40px 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

#top-bg {
    position: relative;
    background-image: url("#{resource['img:top-bg.png']}");
    background-size:  cover;
}

#plant {
    position: absolute;
    top: 0;
    left: 20%;
    width: 600px;
    height: 400px;
    z-index: -400;
    background-image: url("#{resource['img:plant.png']}");
}

#projectNameContainer {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    padding: 8px;
    text-shadow: 2px 2px 8px #18ba3b;
}

#measurments-container {
    display: table;
    vertical-align: middle;
    margin: 0 auto 0 auto;
    /*border: 1px white solid;*/
}

.measurments {
    /*display: inline-block;*/
    display: table-cell;
    /*border: 1px yellow solid;*/
    width: 320px;
    margin: 0;
    text-align: left;
    padding: 10px;
}

#contentContainer {
    position: relative;
    margin: auto;
    min-width: 80%;
    max-width: 1180px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
}

#menu {
    position: relative;
    text-align: center;
}

ul.navBar {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
}

ul.navBar > a {
    display: inline-block;
    padding: 12px;
    width: 120px;
    
    transition: all 0.5s ease;
    background: radial-gradient(at bottom, rgba(255,255,255, 0.6) -10%, rgba(255,255,255, 0.1) 48%, transparent 74%);
    background-repeat: no-repeat;
    background-position: 0 42px;
    border-bottom: 1px solid rgba(255,255,255, 0);
}

ul.navBar > a:hover {
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(255,255,255, 0.8);
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
    background-position: 0;
}

ul.navBar > a:link, ul.navBar > a:visited, ul.navBar > li a {
    color: #fff;
}

ul.navBar > a.checked {
    border-bottom: 1px solid rgba(255,255,255, 0.8);
}

#content {
    position: relative;
    padding: 24px;
    overflow: auto;
    /*max-height: 350px;*/
}

.clear-div {
    clear: both;
}

#footer {
    position: relative;
    width: 100%;
    /*bottom: 0;*/
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 40px 0 0 0;
    box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.8);
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.chartContainer {
    margin: 20px 0 20px 0;
    height: 300px;
    width: 100%;
}

.formDefault {
    margin: 20px;
}

.formDefault label {
    margin-right: 40px;
}